.Content {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.Logo {
  width: 200px;
  height: 200px;
  animation: spin 30s infinite linear;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
